.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    height: 400px;
}

img {
    width: 300px;
    padding: 15px;
}

/* Opcional */
img:hover {
	opacity: 0.5;
    cursor: pointer;
}