button {
  width: 200px;
  height: 50px;
  font-size: large;
}


button:hover {
  color: white;
  background-color: green;
 }

 /*
button:active {
  background-color: blue;
  content:'Hecho';
}
*/

.boton::after::after {
  content:'Hecho';
}